extends ../Frontend.pug

block content
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Inicio<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Detalles de pago</h3>
                        <form class="row contact_form" action="#" method="post">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="nombre" name="nombre" value=#{User.nombre} placeholder="Nombres">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="apellidos" name="apellidos" value=#{User.apellidos} placeholder="Apellidos">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Número telefonico">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Ingresa tu email" value=#{User.email}>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="add1" placeholder="Dirección Linea 1">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add2" name="add2" placeholder="Dirección Linea 1">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Codigo Postal">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <h3>Detalles de compra</h3>
                                </div>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Notas"></textarea>
                            </div>
                       
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Tú orden</h2>
                            <ul class="list">
                                <li><a href="#">Prodcuto <span>Total</span></a></li>
                                each item in Carrito.items
                                    li
                                        a(href="#")= item.titulo
                                            span(class="middle")= "x "+item.cantidad
                                            span(class="last")= "$"+item.subtotal.toFixed(2)
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>$#{Carrito.subtotal.toFixed(2)}</span></a></li>
                                <li><a href="#">IVA <span>$#{Carrito.iva.toFixed(2)}</span></a></li>
                                <li><a href="#">Envio <span>$300</span></a></li>
                                <li><a href="#">Total <span>$#{(Carrito.total + 300).toFixed(2)}</span></a></li>
                            </ul>
                            <button type="submit" class="primary-btn">Pagar con&nbsp;Paypal</a>
                        </div>
                    </div>
                     </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->