extends ../Frontend.pug

block content
    <section class="banner-area organic-breadcrumb">
            <div class="container">
                <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                    <div class="col-first">
                        <h1>Compra exitosa</h1>
                        <nav class="d-flex align-items-center">
                            <a href="/">Inicio<span class="lnr lnr-arrow-right"></span></a>
                            <a href="#">Compra exitosa</a>
                        </nav>
                    </div>
                </div>
            </div>
    </section>

    <section class="order_details section_gap">
    <div class="container">
    <h3 class="title_confirmation">Gracias por comprar, su orden fue recibida</h3>
    <div class="row order_d_inner">
    <div class="col-lg-4">
    <div class="details_item">
    <h4>Información de orden</h4>
    <ul class="list">
    <li><a href="#"><span>Número de orden</span> : #{Venta._id}</a></li>
    <li><a href="#"><span>Fecha</span> : #{Venta.date}</a></li>
    <li><a href="#"><span>Total</span> : $#{Venta.total.toFixed(2)}</a></li>
    <li><a href="#"><span>Metodos de pago</span> : Paypal</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="details_item">
    <h4>Dirección</h4>
    <ul class="list">
    <li><a href="#"><span>Dirección</span> : #{ Venta.add1 + " "  + Venta.add2} </a></li>
    <li><a href="#"><span>Ciudad</span> : #{Venta.ciudad}</a></li>
    <li><a href="#"><span>Codigo Postal </span> : #{Venta.zip}</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="order_details_table">
    <h2>Detalles de orden</h2>
    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th scope="col">Producto</th>
    <th scope="col">Canitdad</th>
    <th scope="col">Subtotal</th>
    </tr>
    </thead>
    <tbody>
        each item in Venta.items
            <tr>
            <td>
            <p>#{item.name}</p>
            </td>
            <td>
            <h5>x #{item.quantity}</h5>
            </td>
            <td>
            <p>$#{item.price}</p>
            </td>
            </tr>
    <tr>
    <td>
    <h4>Subtotal</h4>
    </td>
    <td>
    <h5></h5>
    </td>
    <td>
    <p>$#{Venta.subtotal.toFixed(2)}</p>
    </td>
    </tr>
    <tr>
    <tr>
    <td>
    <h4>IVA</h4>
    </td>
    <td>
    <h5></h5>
    </td>
    <td>
    <p>$#{Venta.iva.toFixed(2)}</p>
    </td>
    </tr>
    <tr>
    <td>
    <h4>Costo de envio</h4>
    </td>
    <td>
    <h5></h5>
    </td>
    <td>
    <p>$ 300</p>
    </td>
    </tr>
    <tr>
    <td>
    <h4>Total</h4>
    </td>
    <td>
    <h5></h5>
    </td>
    <td>
    <p>$#{Venta.total.toFixed(2)}</p>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </section>